*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    z-index: 10;
}

.NavLogo{
    font-size: 1.2rem !important;
}

img{
    width: 100%;
    height: auto ; 
}

.homeHeader{
    height: 30rem;
}

.LogoBase{
    color: var(--bs-info-border-subtle) !important;
}

.logoImg{
    width: 3.2rem;
}

.logoBorder{
    height: 90%;
}

.header-mask{
    height: 480px;
    width: 100%;
    background: linear-gradient(to right, #00000080, #00000024);
}

.header-caption{
    color: #adb5bd3d;
}

.swiper img {
    filter: brightness(0.2);
}

.swiper-slider  , .swiper-wrapper  , .swiper-container{
    height: fit-content !important;
}

.swiper-slide {
    width: 100% !important;
    box-sizing: border-box;
}

.first-section-text , .navbar{
    background-color: #7d796e !important;
}

.first-section-border{
    height: 80%;
    justify-content: center;
}

.first-section-img{
    filter: contrast(1.2);
}

.first-section-title{
    font-size: 3rem;
}

.first-section-caption{
    font-size: 1.6rem;
}

.section-mask{
    background: linear-gradient(to right, #000000b3, #00000033);
}

.WeDoSection{
    background: var(--bs-gray-dark);
}

.justify-items-center{
    justify-items: center;
}

.WeDoContent{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.WeDoImg{
    background: #b1d438;
}

.WeDoImg2{
    background: #be6548;
}

.WeDoImg3{
    background: #d9d9d9;
}

.WeDoImg4{
    background: #0e719b;
}

.Select-section{
    background: #c1ebfd;
}

.service-card{
    aspect-ratio: 1/1;
}

.repair-text{
    color: #4ec990 !important;
}

.service-list{
    list-style-type: disclosure-closed;
}

/* Bottom Part */

#bottom-container {
    background-color: #262626 !important;
    color: #AAB6B6;
    display: flex;
    padding: 30px;
    height: 300px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.bottom-text {
    padding-left: 10px;
}

.address {
    width: 30%;
}

.newsettler {
    width: 30%;
}

.bottom-button {
    color: #AAB6B6 !important;
    text-align: left !important;
}

.bottom-button:hover {
    color: var(--bs-black) !important;
}

.bottom-logo{
    width: 1.5rem;
}

#bottom-title {
    font-weight: bold !important;
}

#contact-title {
    font-weight: bold !important;
}

.newsettler .input-group .btn {
    z-index: 0;
}

@media (max-width: 1200px) {
    .first-section-title {
        font-size: 2rem;
    }
    
    .first-section-caption {
        font-size: 1.3rem;
    }
}

@media (max-width: 991px) {

    .first-section-title {
        font-size: 1.4rem;
    }

    .first-section-caption {
        font-size: 1rem;
    }

    #bottom-container {
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .bottom-text {
        padding-left: 40px;
    }

    .address {
        width: 90%;
        padding-bottom: 20px;
    }
}

@media (max-width: 660px) {

    #bottom-container {
        padding: 15px;
    }

    .address {
        width: 100%;
        padding-bottom: 20px;
    }

    h6 .bottom-list {
        font-size: 15px;
    }

    .address {
        width: 90%;
        padding-bottom: 20px;
    }

    .bottom-text {
        padding-left: 40px;
    }

    .newsettler {
        padding-top: 10px;
        width: 100%;
    }
}

@media (max-width: 576px) {

    .header-title{
        font-size: 1.2rem;
    }

    .header-caption{
        font-size: 1rem;
    }

    .first-section-border{
        height: 95%;
    }

    .first-section-title {
        font-size: 1.7rem;;
    }

    .first-section-caption {
        font-size: 1.075rem;
    }

    .WeDoContent {
        grid-template-columns: 1fr 1fr;
    }

    .header-button {
        font-size: 0.8rem !important;
    }

    .service-card-container{
        flex-direction: column;
    }
}

@media (max-width: 470px){

    .first-section-title {
        font-size: 1.4rem;
    }

    .first-section-caption {
        font-size: 1rem;
    }
}

@media (max-width: 430px) {

    .first-section-caption {
        font-size: 0.825rem;
    }
}

@media (max-width: 360px){

    .first-section-title {
        font-size: 1rem;
    }

    .first-section-caption {
        font-size: 0.7rem;
    }
}

@media (max-width: 320px) {
    .first-section-border {
        justify-content: flex-start;
    }
}
